
*.pdb
*.exe
*.tlog
*.obj
*.log
*.recipe
*.txt
*.ipch
*.json
*.db-shm
*.db-wal
*.opendb
*.vsidx
*.db
.vs/vmt-hooking/v17/.suo
Project1/Project1.vcxproj.user
hook/x64/Debug/vc143.idb
*.idb
*.idb
*.ilk
*.idb
*.idb
