.vs/
*.vcxproj.user
*.csproj.user
*.suo
*.user
*.cache
*.log
bin/
obj/
*.exe
*.dll
*.pdb
*.obj
*.idb
*.ilk
*.tlog
*.recipe
*.txt
*.ipch
*.json
*.db-shm
*.db-wal
*.opendb
*.vsidx
*.db
*.ilk
*.idb
*.idb
*.ilk
*.idb
*.filters
*.lib
*.iobj
*.ipdb
*.idb
*.ilk
*.idb
